@import url('https://fonts.googleapis.com/css2?family=Gidole&family=Slabo+13px&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gidole', sans-serif;
}


:root{
    --peach: #F5EEDC;
    --dark-blue: #183B4E;
    --blue: #27548A;
    --gold: #DDA853;
}

body{
    background-color: var(--peach);
    height: 100vh;
}

.app-layout {
    display: flex;
    flex-direction: row; 
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    color: var(--dark-blue);
    margin-bottom: auto;
}

.main-container h1{
   margin-block: 25px;
   font-size: 55px;
   border-bottom: 5px solid var(--dark-blue);
}

.main-container a{
    text-decoration: none;
    margin: 0;
}

.main-top-content{
    display: flex;
    gap: 20px;
    /* margin-right: auto;
    margin-left: 100px; */
}

.main-top-content-logo{
    height: 350px;
    width: auto;
}

.main-top-content-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-top-content-text h2{
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 0 var(--dark-blue), -1px -1px 0 var(--dark-blue);
    -webkit-text-stroke: 1px var(--dark-blue);
}

.main-top-content-text-para{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
    background-color: var(--dark-blue);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 50px;
    color: var(--peach);
    padding: 20px;
}

.main-top-content-text-para p{
    font-size: 18px;
    font-weight: 700;
}

.main-top-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    background-color: var(--blue);
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.main-top-btn:hover{
    background-color: var(--gold);
}

.main-top-btn a{
    text-decoration: none;
    color: var(--peach);
    font-size: 20px;
    font-weight: 700;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--peach);
    height: 50px;
    width: 50px;
    z-index: 2;
    position: absolute;
    transform: translateX(-10%);
    right: 0;
    border-radius: 50%;
}

.main-top-btn:hover .arrow{
    color: var(--gold);
    -webkit-text-stroke: 1px var(--gold);
}

.arrow {
    color: var(--dark-blue);
    font-size: 32px; 
    animation: moveArrow 1s infinite ease-in-out;
    padding-bottom: 5px;
    -webkit-text-stroke: 1px var(--dark-blue);
}

.main-bottom-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

.rectangle-bottom-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 200px;
    background-color: var(--gold);
    border-radius: 30px;
    color: var(--peach);
}

.rectangle-bottom-content:hover{
    background-color: var(--dark-blue);
}

.rectangle-bottom-content h3{
    text-align: center;
    font-size: 24px;
    text-wrap: wrap;
}

.rectangle-bottom-content img{
    width: 80px;
    height: 80px;
    margin-block: 15px;
}


@keyframes moveArrow {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(8px); 
    }
    100% {
        transform: translateX(0); 
    }
}

